
.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex; /* turns "header" into a flexbox display */
  justify-content: space-between; /*give space between the logo and lists of links*/
  align-items: center; /*align logo and links to center of "header" box*/
  flex-wrap: wrap; /*set the container so that it will shrink content to next line*/
  padding: 8px; /*give header padding so that there is no spillage*/
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex; /* turn "lists" into a flexbox display */
  gap: 8px; /* create gap between each list item */
  margin: auto; /* nullify margin created by default list container*/
  padding: 0%; /*set padding in default list container to zero*/
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}